div.btn-group.mb20#bizTypeBtn
  button(type="button", class="btn btn-success dropdown-toggle", data-toggle="dropdown") 请选择业务分支类型
    span.caret
  ul(class="dropdown-menu", role="menu")
    - if(data.bizType) {
    - var keys = Object.keys(data.bizType);
    -    for(var i in keys) {
    li
      a(href="#") #{keys[i]}
    -    }
    - }
button.ml20.btn.btn-danger#reset(type="button",value="") 清空
input.ml20.form-control#bizTypeText(disabled="disabled",type="text",value="")
