extends md/layout

block content
  div#mdContent
    pre
      code(id='markdown-raw')=content
  div.container
    div#markdown-show

  script(src='/javascripts/jquery-1.12.1.min.js')
  script(src='/modules/profile.js')
