.m-user40
	span.face
		img(src="https://js-pre.meixincdn.com/m/h5/dist/images/gome_icon.png")
	span.name 话题详情头像 40x40

.m-user60
	span.face
		img(src="https://js-pre.meixincdn.com/m/h5/dist/images/gome_icon.png")
	span.name 话题详情点赞用户头像 60x60

.m-user64
	span.face
		img(src="https://js-pre.meixincdn.com/m/h5/dist/images/gome_icon.png")
	span.name 热门话题头像 64x64

.m-user70
	span.face
		img(src="https://js-pre.meixincdn.com/m/h5/dist/images/gome_icon.png")
	span.name 商品详情评论头像 70x70

.m-user80
	span.face
		img(src="https://js-pre.meixincdn.com/m/h5/dist/images/gome_icon.png")
	span.name 话题详情评论头像 80x80

.m-user120
	span.face
		img(src="https://js-pre.meixincdn.com/m/h5/dist/images/gome_icon.png")
	span.name 话题详情作者头像 120x120

///footer