.m-pics
	div
		img(src='../../images/_temp/w750x250.jpg')

.m-pics
	.img
		img(src='../../images/_temp/w360x240.jpg')
	.img
		img(src='../../images/_temp/w360x240.jpg')

.m-pics
	.img
		img(src='../../images/_temp/w236x236.jpg')
	.img
		img(src='../../images/_temp/w236x236.jpg')
	.img
		img(src='../../images/_temp/w236x236.jpg')

.m-pics
	.img
		span.price 5
		img(src='../../images/_temp/w236x236.jpg')
	.img
		span.price 5
		img(src='../../images/_temp/w236x236.jpg')
	.img
		em.num 4
		span.price 5
		img(src='../../images/_temp/w236x236.jpg')
// /图占位符
