.m-pics
	.img
		span.price 5
		img(src='../../images/_temp/w236x236.jpg')
	.img
		span.price 5
		img(src='../../images/_temp/w236x236.jpg')
	.img
		em.num 4
		span.price 5
		img(src='../../images/_temp/w236x236.jpg')
///图占位符