.m-article
	h3.art-title
		p 我是标题，一行局中哦~
	h3.art-title
		p 我也是文章页标题，我一行局中显示，两行居左显示的哦~
	.art-meta
		.m-userinfo
			a.lik(href="#user-info")
			span.img
				img(src="https://js-pre.meixincdn.com/m/h5/dist/images/gome_icon.png")
			span.name 哎哟，不错哦




///文章页面