h1#infoPrompt
	|	缺省页提示信息
article
	|	缺省页以此结构为准
	br
	|	只需替换 图片 文案即可
	br
	|	项目中图片路径 <font color="red">H5Site\src\images\common</font>
	br
	|	具体调用方式查看源码

.m-prompt
	.pro-img
		img(src="../src/images/common/404.png")
	.pro-txt
		店主好懒~居然没有商品
		br
		咱们去别处逛逛吧
	.pro-btn
		a.m-btn 刷新

	
// /缺省页
