doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap_css/bootstrap.min.css')
        script(src="/javascripts/marked.js")
        script(src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js")
    body
        block content
