ul.menu-list
	li.item.active
		a.link(href="javascript:;")
			i.num 1
			p.txt 菜单一
	li.item
		a.link(href="javascript:;")
			i.num 1
			p.txt 菜单二
	li.item
		a.link(href="javascript:;")
			i.num 1
			p.txt 菜单三
				span
				// /span.up
				// /span.down
	li.item
		a.link(href="javascript:;")
			i.num 1
			p.txt 菜单四
// /搜索结构