ul.menu-list.menu-list-shopmin
	li.item.active
		a.link(href="javascript:;")
			i.num 1
			p.txt 综合
	li.item
		a.link(href="javascript:;")
			i.num 1
			p.txt 全部
	li.item
		a.link(href="javascript:;")
			i.num 1
			p.txt 销量
	li.item
		a.link(href="javascript:;")
			i.num 1
			p.txt 价格
	li.item
		a.link(href="javascript:;")
			i.num 1
			p.txt 上新
// /二级菜单