ul.menu-list.menu-list-shoptop
	li.item.active
		a.link(href="javascript:;")
			i.num 1
			em.iconn-44
			p.txt 首页
	li.item
		a.link(href="javascript:;")
			i.num 1
			em.iconn-50
			p.txt 全部
	li.item
		a.link(href="javascript:;")
			i.num 1
			em.iconn-26
			p.txt 促销
	li.item
		a.link(href="javascript:;")
			i.num 1
			em.iconn-36
			p.txt 动态
// /菜单