.m-dialog
	.dialog-tit 编辑分类名
	.dialog-ipt
		input.ipt(type="text" placeholder="请输入分类明细")
	.dialog-btn
		div 取消
		div 确定

.m-dialog
	.dialog-tit 确认删除照片？
	.dialog-txt 该分类下的商品将会移动到未分类中
	.dialog-btn
		div 取消
		div 确定

.m-dialog
	.dialog-tit 在手机浏览器打开我会更好看哦!
	.dialog-btn
		div 确定


.m-dialog
	.dialog-tit 请输入关键词
	.dialog-btn
		div 取消
		div 确定

// /dialog
