.m-dialog.m-dialog-pay
	.dialog-tit 输入密码
	.dialog-ipt
		div
			input.ipt(type="text" placeholder="")
		div
			input.ipt(type="text" placeholder="")
		div
			input.ipt(type="text" placeholder="")
		div
			input.ipt(type="text" placeholder="")
		div
			input.ipt(type="text" placeholder="")
		div
			input.ipt(type="text" placeholder="")
	.dialog-btn
		div 取消
		div 验证
///dialog