@charset "UTF-8";
@import '../reset/_base.scss';
@import '../reset/_mixin.scss';

.opg{
	//黑色透明背景
	.m-mask,
	.m-mask-private{
		display: none;
		background-color:rgba(0,0,0,.4);
		@include fixed-all;
	}
	// JS > m-dialog
	.m-mask-private{
		.m-dialog{
			display: block;
		}
	}

	//dialog
	.m-dialog{
		width: rem(540);
		min-height: 2.2rem;
		overflow: hidden;
		padding-bottom: rem(88);
		background-color: #fff;
		display: none;
		@include prefix(border-radius,rem(20),webkit);
		@include center;
		.dialog-tit{
			color: nth($color,5);
			font-size: $fs30;
			line-height: 1.3;
			text-align: center;
			padding: rem(30 60);
			margin-top: rem(-40);
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
		}
		.dialog-ipt{
			width: rem(460);
			margin: rem(-10) auto rem(30);
			position: relative;
			&:after{
				// @include border(all,1px,#e4e4e4);
				@include border(all,1px,#e4e4e4);
				@include prefix(border-radius,6px,webkit moz ms);
				
			}
			.ipt{
				width: 100%;
				height: rem(80);
				font-size: $fs26;
				text-align: center;
				padding: rem(0 10);
				position: relative;
				z-index: 1;
				@include prefix(border-radius,6px,webkit moz ms);
			}
		}
		.dialog-txt{
			color: nth($color,5);
			font-size: $fs28;
			line-height: 1.3;
			text-align: center;
			padding: rem(0 30 30);
			margin-top: rem(-10);
		}
		.dialog-btn{
			color: nth($color,5);
			height: rem(88);
			text-align: center;
			// overflow: hidden;
			@include flex-box();
			text-align: center;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			&:after{
				@include border(top,1px,#ddd);
			}
			div{
				font-size: $fs32;
				line-height: rem(88);
				overflow: hidden;
				@include flex-col(1);
				position: relative;
				&:after{
					@include border(left,1px,#ddd);
				}
				&:first-child:after{
					display: none;
				}
				&:nth-last-child(1){
					color: nth($color,1);
					background-color: #FF5C5C;
				}
			}
			div.cell{
				background-color: #ccc;
			}
		}
		&.m-dialog-auto,
		&.m-dialog-pay{
			min-height: auto;
			.dialog-tit{
				margin-top: 0;
				-webkit-transform: translateY(0);
				transform: translateY(0);
				position: relative;
				top: 0;

			}
		}
	}
	// End

	.m-dialog-pay{
		.dialog-tit{
			padding-bottom: rem(20);
			margin-bottom: rem(40);
			&:after{
				@include border(bottom,1px,#ddd);
			}
		}
		.dialog-ipt{
			@include flex-box();
			div{
				height: 100%;
				position: relative;
				@include flex-col(1);
				&:after{
					@include border(right,1px,#e4e4e4);
				}
				&:nth-last-child(1){
					&:after{
						display: none;
					}
				}
			}
		}
	}
	// payment




}