.m-share-bottom
	ul.share-list
		li.item
			a.weibo(href="javascript:;")
				em.share-icon
				p.share-txt 微博
		li.item
			a.weixin(href="javascript:;")
				em.share-icon
				p.share-txt 微信
		li.item
			a.friends(href="javascript:;")
				em.share-icon
				p.share-txt 朋友圈
		li.item
			a.qq(href="javascript:;")
				em.share-icon
				p.share-txt QQ
		li.item
			a.qzone(href="javascript:;")
				em.share-icon
				p.share-txt QQ空间
	a.share-close(href="javascript:;") 取消
// /分享菜单

.m-share-top
	dl
		dt
			img(src="https://js-pre.meixincdn.com/m/h5/dist/images/jiantou.png")
		dd
			img(src="https://js-pre.meixincdn.com/m/h5/dist/images/shou.png")
		dd
			请点击右上角
			img(src="https://js-pre.meixincdn.com/m/h5/dist/images/dian.png")
			后分享
// /分享指示