.m-coupons.m-coupons-commodity
	ul.coupon-list
		li
			a(href="##")
				p.txt 满100减50
				p.date 2016.06.20-2016.07.20
				span.msg.msg-dis 已领
		-for(i=0;i<10;i++) //循环十个同样的LI
			li
				a(href="##")
					p.txt 满100减50
					p.date 2016.06.20-2016.07.20
					span.msg 领取
// /商品详情优惠券
