header.header
	a(href="javascript:;").h-back 取消
	.h-cnt.flex-cell
		.input-box.search-input
			.sec-tab
				.tab-txt 商品
				.tab-nav
					p
						em.iconn-83
						| 商品
					p
						em.iconn-93
						| 店铺
			em.iconn-10
			input.sec-ipt(type="text",placeholder="搜索商品/店铺")
// /header