header.header
	a(href="javascript:;").h-back
		em.iconn-1
	.h-cnt.flex-cell
		.input-box
			em.iconn-10
			input.sec-ipt(type="text",placeholder="搜索商品/店铺")
	a.head-btn(href="javascript:;")
		em.iconn-4
// /header