header.header
	a(href="javascript:;").h-back
		em.iconn-1
	.h-cnt.flex-cell
		.h-tabs
			a(href="javascript:;").active 商品
			a(href="javascript:;") 详情
			a(href="javascript:;") 评价
	a.head-btn(href="javascript:;")
		em.iconn-4
		.tab-nav
			p
				em.iconn-44
				| 首页
			p
				em.iconn-15
				| 分类
			p
				em.iconn-32
				| 购物车
			p
				em.iconn-90
				| 我的
// /header