ul.main-list.grid-list-bor
	// -for(i=0;i<2;i++)
	// 常规
	li.item
		a.link(href="javascript:;")
		.item-img
			img(src='../../images/_temp/w236x236.jpg')
		.item-txt 情人生日礼Crystallin精装礼品
		.item-price
			span.red ¥2199.40
			del.del ¥2899.00
	li.item
		a.link(href="javascript:;")
		.item-img
			img(src='../../images/_temp/w236x236.jpg')
		.item-txt
			em.ic-fan
			| 情人生日礼Crystallin精装礼品
		.item-price
			span.red ¥2199.40
			del.del ¥2899.00


	// -for(i=0;i<2;i++)
	// 月消 付款
	li.item
		a.link(href="javascript:;")
		.item-img
			span.ic-yuex 月销7
			img(src='../../images/_temp/w236x236.jpg')
		.item-txt 创意铅笔袋韩国文具盒简约男女生小清新日韩版中学生学习用品
		.item-price
			span.red ¥2199.40
			del.del ¥2899.00
		.item-pay 131付款
		.item-icn
			em.ic-hwg
			em.ic-fan
	li.item
		a.link(href="javascript:;")
		.item-img
			span.ic-yuex 月销7
			img(src='../../images/_temp/w236x236.jpg')
		.item-txt
			em.ic-fan
			| 创意铅笔袋韩国文具盒简约男女生小清新日韩版中学生学习用品
		.item-price
			span.red ¥2199.40
			del.del ¥2899.00
		.item-pay 131付款
		.item-icn
			em.ic-hwg
			em.ic-fan


	// -for(i=0;i<2;i++)
	// 返标识
	li.item
		a.link(href="javascript:;")
		.item-img
			img(src='../../images/_temp/w236x236.jpg')
		.item-txt 情人生日礼Crystallin精装礼品
		.item-price
			span.red ¥2199.40
			del.del ¥2899.00
	li.item
		a.link(href="javascript:;")
		.item-img
			img(src='../../images/_temp/w236x236.jpg')
		.item-txt
			em.ic-fan
			| 情人生日礼Crystallin精装礼品
		.item-price
			span.red ¥2199.40
			del.del ¥2899.00

	//- // -for(i=0;i<2;i++)
	//- // 带有按钮
	//- li.item
	//- 	a.link(href="javascript:;")
	//- 	a.m-btn.btn-bor 按钮文字
	//- 	.item-img
	//- 		img(src='../../images/_temp/w236x236.jpg')
	//- 	.item-txt 情人生日礼Crystallin精装礼品
	//- 	.item-price
	//- 		span.red ¥2199.40
	//- 		del.del ¥2899.00
	//- li.item
	//- 	a.link(href="javascript:;")
	//- 	a.m-btn.btn-bor 按钮文字
	//- 	.item-img
	//- 		img(src='../../images/_temp/w236x236.jpg')
	//- 	.item-txt
	//- 		em.ic-fan
	//- 		| 情人生日礼Crystallin精装礼品
	//- 	.item-price
	//- 		span.red ¥2199.40
	//- 		del.del ¥2899.00
///九格-带有边框列表