section.dynamic-list
	article.article
		a.link(href="javascript:;")
		.art-user
			span.user-face
				img(src="https://js-pre.meixincdn.com/m/h5/dist/images/gome_icon.png")
			span.user-name 用户名称A
		h2.art-tit 老店铺新装修！
		.art-txt
			p 本店始创于康熙年间，经过先后6000多年，研制出这款显示器，绝对高清，绝对靠谱！
		.m-pics
			div
				img(src='../../images/_temp/w750x250.jpg')
		.art-info
			span.time 3分钟前
			
			span
				em.iconn-19
				| 23
			span
				em.iconn-28
				| 34
			span
				em.iconn-22
				| 12
	// 单独一块

	article.article
		a.link(href="javascript:;")
		.art-user
			span.user-face
				img(src="https://js-pre.meixincdn.com/m/h5/dist/images/gome_icon.png")
			span.user-name 用户名称A
		h2.art-tit 老店铺新装修！
		.art-txt
			p 本店始创于康熙年间，经过先后6000多年，研制出这款显示器，绝对高清，绝对靠谱！
		.m-pics
			div.img
				em.iconn-79
				img(src='../../images/_temp/w360x240.jpg')
			div.img
				em.iconn-80
				img(src='../../images/_temp/w360x240.jpg')
		.art-info
			span.time 3分钟前
			
			span
				em.iconn-19
				| 23
			span
				em.iconn-28
				| 34
			span
				em.iconn-22
				| 12
	// 单独一块


	article.article
		a.link(href="javascript:;")
		.art-user
			span.user-face
				img(src="https://js-pre.meixincdn.com/m/h5/dist/images/gome_icon.png")
			span.user-name 用户名称A
		h2.art-tit 老店铺新装修！
		.art-txt
			p 本店始创于康熙年间，经过先后6000多年，研制出这款显示器，绝对高清，绝对靠谱！
		.m-pics
			.img
				span.price 20000.00
				img(src='../../images/_temp/w236x236.jpg')
			.img
				span.price 20000.00
				img(src='../../images/_temp/w236x236.jpg')
			.img
				em.num 5
				span.price 20000.00
				img(src='../../images/_temp/w236x236.jpg')
		.art-info
			span.time 3分钟前
			
			span
				em.iconn-19
				| 23
			span
				em.iconn-28
				| 34
			span
				em.iconn-22
				| 12
	// 单独一块
///话题列表