a.go-top(href="#")
// 回到顶部

a.go-home(href="public-v1.0.9.html")
// 回到首页

a.go-shopcart(href="#")
// 加入购物车


a.m-btn.btn-bor(href="javascript:;") 立即购买
br
a.m-btn(href="javascript:;") 立即购买
a.m-btn(href="javascript:;" disabled="disabled") 立即购买
br
a.m-btn.m-btn-black(href="javascript:;") 加入购物车
a.m-btn.m-btn-black(href="javascript:;" disabled="disabled") 加入购物车
// 常规按钮&置灰&黑色按钮

a.m-btn.m-btn-big(href="javascript:;") 完成
a.m-btn.m-btn-big(href="javascript:;" disabled="disabled") 完成
a.m-btn.m-btn-big.active(href="javascript:;" disabled="disabled") 完成
// 常规按钮&置灰

