header.header.header-index
	span
		a.head-logo(href="javascript:;")
	
	.head-search.w470
		em.iconn-10
		input.sec-ipt(type="text",placeholder="搜索商品/店铺",disabled="true")
	
	span
		a.head-icn(href="javascript:;")
			i.num.hidden(style="display:block;") 1
			em.iconn-32
		a.head-edit(href="javascript:;") 登录
// /header