header.header.header-private
	span
		a.head-back(href="javascript:;")
			em.iconn-1
	h1.head-title 无背景颜色
	span
		a.head-icn(href="javascript:;")
			em.iconn-4
		.tab-nav
			p.active
				em.iconn-44
				首页
			p
				em.iconn-15
				分类
			p
				em.iconn-32
				购物车
			p
				em.iconn-90
				我的
// /header