header.header
	span
		a.head-back(href="javascript:;")
			em.iconn-close
	.head-search.w600
		input.sec-ipt(type="text" placeholder="搜索店铺内商品")
		em.iconn-82
	span
		a.head-icn(href="javascript:;")
			em.iconn-0
// /header