h1#header
	|	页头结构 V1.0.9ffffddddddddd
article
	|	分多种类结构
	br
	|	header-private 无背景颜色
	br
	|	header-fixed 定位类
	br
	|	具体调用方式查看源码







.divbg
	h1.h1Tit header无背景颜色
	header.header.header-private
		span
			a.head-back(href="javascript:;")
				em.iconn-1
		h1.head-title 标题文字
		span
			a.head-icn(href="javascript:;")
				em.iconn-4
			.tab-nav
				p.active
					em.iconn-44
					首页
				p
					em.iconn-15
					分类
				p
					em.iconn-32
					购物车
				p
					em.iconn-90
					我的
	// /header


.divbg
	h1.h1Tit 右侧单文字结构
	header.header
		span
			a.head-back(href="javascript:;")
				em.iconn-1
		h1.head-title 标题文字
		span
			a.head-edit(href="javascript:;") 编辑
	// /header


.divbg
	h1.h1Tit 右侧双文字结构
	header.header
		span
			a.head-back(href="javascript:;")
				em.iconn-1
		h1.head-title 标题文字
		span
			a.head-edit(href="javascript:;") 编辑
			a.head-edit(href="javascript:;") 测试
	// /header

.divbg
	h1.h1Tit 右侧单图标
	header.header
		span
			a.head-back(href="javascript:;")
				em.iconn-1
		h1.head-title 标题文字
		span
			a.head-icn(href="javascript:;")
				em.iconn-3
	// /header

.divbg
	h1.h1Tit 副标题
	header.header
		span
			a.head-back(href="javascript:;")
				em.iconn-1
		h1.head-title 标题文字
			small （副标题副标题）
		span
			a.head-icn(href="javascript:;")
				em.iconn-3
	// /header

.divbg
	h1.h1Tit 右侧双图标
	header.header
		span
			a.head-back(href="javascript:;")
				em.iconn-1
		h1.head-title 标题文字
		span
			a.head-icn(href="javascript:;")
				em.iconn-3
			a.head-icn(href="javascript:;")
				em.iconn-4
	// /header

.divbg
	h1.h1Tit 带有搜索,搜索不可点状态
	header.header
		span
			a.head-back(href="javascript:;")
				em.iconn-1
		.head-search.w480
			em.iconn-10
			input.sec-ipt(type="search" placeholder="搜索店铺内商品" disabled="true")
		span
			a.head-icn(href="javascript:;")
				em.iconn-3
			a.head-icn(href="javascript:;")
				em.iconn-4
	// /header

.divbg
	h1.h1Tit 搜索通栏
	header.header
		span
			a.head-back(href="javascript:;")
				em.iconn-1
		.head-search.w634
			em.iconn-10
			input.sec-ipt(type="search" placeholder="搜索店铺内商品" disabled="true")
	// /header


.divbg
	h1.h1Tit 带有关闭搜索
	header.header
		span
			a.head-back(href="javascript:;")
				em.iconn-1
		.head-search.w480
			em.iconn-10
			input.sec-ipt(type="search" placeholder="搜索店铺内商品")
			em.iconn-82
		span
			a.head-icn(href="javascript:;")
				em.iconn-3
			a.head-icn(href="javascript:;")
				em.iconn-4
	// /header

.divbg
	h1.h1Tit 带有切换搜索
	header.header
		span
			a.head-back(href="javascript:;")
				em.iconn-close
		.head-search.w600
			input.sec-ipt(type="search" placeholder="搜索店铺内商品")
			em.iconn-82
		span
			a.head-icn(href="javascript:;")
				em.iconn-0
	// /header

.divbg
	h1.h1Tit 搜索弹层
	header.header
		span
			a.head-back(href="javascript:;")
				em.iconn-1
		.head-search.w630
			.sec-tab
				.tab-txt 商品
				.tab-nav
					p.active
						em.iconn-83
						商品
					p
						em.iconn-93
						店铺
			input.sec-ipt(type="search" placeholder="搜索店铺内商品")
			em.iconn-82
	// /header

.divbg
	h1.h1Tit 搜索弹层
	header.header
		span
			a.head-back(href="javascript:;")
				em.iconn-close
		.head-search.w606
			.sec-tab
				.tab-txt 商品
				.tab-nav
					p.active
						em.iconn-83
						商品
					p
						em.iconn-93
						店铺
			input.sec-ipt(type="search" placeholder="搜索店铺内商品")
			em.iconn-82
		span
			a.head-icn(href="javascript:;")
				em.iconn-0
	// /header

.divbg
	h1.h1Tit 带有切换搜索
	header.header
		span
			a.head-back(href="javascript:;")
				em.iconn-close
		.head-search.w610
			.sec-tab
				.tab-txt 商品
				.tab-nav
					p.active
						em.iconn-83
						商品
					p
						em.iconn-93
						店铺
			input.sec-ipt(type="search" placeholder="搜索店铺内商品")
			em.iconn-82
		span
			a.head-edit(href="javascript:;" disabled="disabled") 搜索
	// /header

.divbg
	h1.h1Tit 搜索提示
	.search-list
		ul.sec-result
			-for(i=0; i<5; i++)
				li adfjadfjalkdjflajdlfkjalksdjfasd

	h1.h1Tit 搜索历史
	.search-list
		h2.sec-tit
			搜索历史
			em.iconn-76
		ul.sec-hist
			-for(i=0; i<10; i++)
				li adfjadfjalkdjfla

