header.header
	span
		a.head-back(href="javascript:;")
			em.iconn-close
	.head-search.w610
		.sec-tab
			.tab-txt 商品
			.tab-nav(style="display:none;")
				p.active
					em.iconn-83
					商品
				p
					em.iconn-93
					店铺
		input.sec-ipt(type="text" placeholder="搜索店铺内商品")
		em.iconn-82
	span
		a.head-edit(href="javascript:;" disabled="disabled") 搜索
// /header