h1#hint
	|	提示信息
article
	|	提示信息以此结构为准
	br
	|	单图&多图结构
	br
	|	具体调用方式查看源码

.page-no 没有更多商品了

.page-no
	span
	| 我是有底线的~

a.page-more(href="javascript:;") 查看全部商品

.page-num
	span 1
	| |
	span 20


// /提示信息