// 暂无用
// 暂无用
// 暂无用
// 暂无用
// 暂无用
// 暂无用
// 暂无用
// 暂无用
// 暂无用
ul.m-menu.m-menu-foot
	li.flex-cell
		a.link(href="javascript:;")
			p.txt 触屏版
	li.flex-cell
		a.link(href="javascript:;")
			p.txt 客户端
	li.flex-cell
		a.link(href="javascript:;")
			p.txt 退出
// /页底导航