ul.m-menu.m-menu-shopbtn
	li.flex-cell.active
		a.link(href="javascript:;")
			i.num 1
			em.iconn-15
			cite.txt 商品分类
	li.flex-cell
		a.link(href="javascript:;")
			em.iconn-32
			cite.txt 购物车
// /底部按钮