ul.m-menu.m-menu-shoptop
	li.flex-cell.active
		a.link(href="javascript:;")
			i.num 1
			em.iconn-44
			p.txt 首页
	li.flex-cell
		a.link(href="javascript:;")
			em.iconn-50
			p.txt 全部
	li.flex-cell
		a.link(href="javascript:;")
			em.iconn-26
			p.txt 促销
	li.flex-cell
		a.link(href="javascript:;")
			em.iconn-36
			p.txt 动态
// /菜单