ul.m-menu
	li.flex-cell.active
		a.link(href="javascript:;") 菜单一
	li.flex-cell
		a.link(href="javascript:;") 菜单二
	li.flex-cell
		a.link(href="javascript:;") 菜单三
	li.flex-cell
		a.link(href="javascript:;") 菜单四
//- 