ul.m-menu.m-menu-shopmin
	li.flex-cell.active
		a.link(href="javascript:;") 综合
	li.flex-cell
		a.link(href="javascript:;") 全部
	li.flex-cell
		a.link(href="javascript:;") 销量
	li.flex-cell
		a.link(href="javascript:;") 价格
	li.flex-cell
		a.link(href="javascript:;")
			i.num 1
			|上新
// /二级菜单